.footer {
    background-color: #2c496d;
    overflow: hidden;
    margin-top: 120px;
    /* position: absolute;
    width: 100%;
    bottom: 0px; */

}

.footer-col ul{
    padding: 0;
    margin: 0px 30px 0 0;
}

div ul li Iframe{
    width: 230px;
    height: 140px;
    border-radius: 10px;
}
.footer-col {

margin: 0 auto;
padding: 15px 0px 15px 10px;
}
.footer-col h5{
    color: #ffffff;
    font-family: 'Cormorant';
    margin-top: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
} 
.footer-col ul li {
    font-size: small;
    
    text-decoration: none;

    font-weight: 300;
    color: #c5c5c5;
    display: block;
}


.row {
    
    margin: auto;    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    margin-top: 3rem;
    padding: 0px 30px 20px 30px;
    

}
.socialIcon {
    display: flex;
    gap: 5px;
}
.footerlogo {
    width: 80%;
    padding-bottom: 12px;
}