#NewArrival-sec {
    font-family: 'Cormorant';
    font-weight: bold;
    color: #29496D;
    font-size: 50px;
    margin-left: 4%;
    margin-top: 5%;
    }
.hoodie-img {
    position: relative;
}
.wing-icon{
    width: 70%;
    position: absolute;
}
.New-arrival-box {
    display: flex;
    justify-content: center;

    padding: 6% 10% 6% 10% ;
}

@media (max-width:799px) {
    #NewArrival-sec {
        font-size: 40px;
    }
    .wing-icon{
        width: 80%;
    }
    /* .hoodie-img {
        height: 220%;
    } */
    .New-arrival-box {
        padding: 0 ;
        margin: 60px 0 60px 0;
    }
}





/* .hoodie {
    display: flex;
}
.New-arrival-box .hoodie {
    position: absolute;
}

.hoodie-img {
    align-items: center;
} */