.cartMainDiv {
    display: flex;
    justify-content: space-between;

    width: 20%;
    height: 10%;
    padding: 0 80px 10px 80px;
}
.a {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
